<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <image_option>
            <general>
                <image_size>1</image_size>
                <image_height>40</image_height>
                <image_width>40</image_width>
            </general>
        </image_option>
    </default>
</config>
